/*=========== Página de login User/Adm =============== */
* {
  margin: 0;
  padding: 0;

}

#background {
  background: rgb(228, 226, 226);   /* cor de fundo */
}

#img-estoque
{
  position: absolute; /* posicionamento livre */
  left: 30%; /*  esquerda */
  top: 0;  /* distância do elemento em relação ao topo */
}

.form-login {
    background: white;  /* cor do elemento */
    width: 490px;  /* largura do elemento */
    height: 690px; /* altura do elemento */
    border-radius: 25px; /* redondamento da borda do elemento */
    padding: 10px; /* espaçamento do conteudo */
    position: absolute;  /* posicionamento livre */
    top: 12%;  /* distância do elemento em relação ao topo */
    left: 2%; /*  esquerda */
    
}

#titulo_login
{
    font-size: 50px;  /* tamanho da fonte */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  /* fonte */
    text-align: center;  /* alinhar texto */
    color: rgb(0, 0, 0);  /* cor do texto */
    position: relative;
    top: 80px;
}

#titulo_adm
{
    font-size: 40px;  /* tamanho da fonte */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  /* fonte */
    text-align: center;  /* alinhar texto */
    color: rgb(0, 0, 0);  /* cor do texto */
    position: relative;
    top: 80px; 
}

.input-login
{
    width: 80%;
    height: 60px;
    padding: 5px;
    margin: 30px;
    border-radius: 10px;
    border: 2px solid rgb(5, 5, 5);
    position: relative;
    top: 80px;
    left: 10px;
    font-size: 20px;
}



.input-button
{
    width: 80%;
    height: 50px;
    padding: 5px;
    margin: 15px;
    position: relative;
    top: 100px;
    left: 25px;
    border-radius: 10px;
    font-size: 20px;
    background: rgb(42, 245, 1);
    color: white;
}

.input-button:hover
{
    background: rgb(11, 194, 11);
}

.button-acessar
{
  
  display: inline-block; /* permite largura e altura */
  text-decoration: none;
  color: rgb(255, 255, 255);
    width: 75%;
    height: 30px;
    padding: 10px;
    margin: 15px;
    text-align: center;
    position: relative;
    top: 100px;
    left: 25px;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px solid black;
    background: rgb(1, 58, 245);
}

.button-acessar:hover
{
   background: rgb(1, 43, 182); 
}

.label-input
{
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    top: 100px;
    left: 45px;
}

.label-input-adm
{
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    top: 100px;
    left: 30px;
    margin: 20px;
}

.mensagem-erro
{
    color: red;
    text-align: center;
    position: relative;
    top: -40px;
    font-size: 20px;
}

.mensagem-sucesso
{
    color: rgb(0, 255, 55);
    text-align: center;
    position: relative;
    top: -40px;
    font-size: 20px;
}


/*=========== Página principal =============== */

#background-index
{
    background: rgb(218, 217, 217);
}

.table
{
  text-align: center;
  position: fixed;
  margin: 15px;
  padding: 10px;
  left: -1.40%;
  top: 120px;

}

.form
{
  text-align: center;
  position: fixed;
  margin: 15px;
  padding: 10px;
  left: -0%;
  top: 100px;
}
.search
{
    height: 45px;
    width: 300px;
    border-radius: 10px;
    font-size: 20px;
    position: fixed;
    left: 1%;
    top: 25px;
}

.button-search
{
    height: 45px;
    width: 65px;
    border-radius: 10px;
    font-size: 20px;
    position: fixed;
    left: 17%;
    top: 25px;
}

.button-search-all
{
    height: 45px;
    width: 220px;
    border-radius: 10px;
    font-size: 20px;
    position: fixed;
    left: 21%;
    top: 25px;
    background: rgb(206, 206, 206);
}


#titulo-produtos
{
    position: fixed;
    top: 25px;
    left: 40%;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
}

.Encontrado
{
  text-align: center;
  font-size: 20px;
  color: red;
  position: relative;
  top: 140px;
}

.menu
{
    width: 200%;
    height: 100px;
    position: fixed;
    left: -25%;
    background: rgb(1, 58, 245);
     
}

.nav 
{
    list-style: none;    /* tira as bolinhas da lista */
    position: relative;
    left: 45%;
    display: flex;       /* coloca item lado a lado */
    gap: 70px;           /* espaçamento entre cada item */
    padding: 20px;
    top: 8px;
}

.insert
{
    display: inline-block; /* permite largura e altura */
    background: rgb(5, 221, 5);
    width: 120%;
    height: 30px;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 20px;
}

.insert:hover
{
  background: rgb(3, 151, 3); 
}

.alert
{
    display: inline-block; /* permite largura e altura */
    background: rgb(247, 151, 42);
    width: 120%;
    height: 30px;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 20px;
}

.alert:hover
{
  background: rgb(197, 108, 7); 
}

.logout
{
    display: inline-block; /* permite largura e altura */
    background: rgb(214, 0, 0);
    width: 200%;
    height: 30px;
    padding: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 20px;
}

.logout:hover
{
  background: rgb(156, 2, 2); 
}

table
{
    font-family: Arial, sans-serif;
    border-collapse: collapse; /* Remove espaços entre células */
    width: 175%;
}
th td
{
    text-align: center;
    padding: 20px;
}

tr:nth-child(even) {
    background-color: #f2f2f2; /* linhas claras */
  }

tr:nth-child(odd) {
    background-color: #ffffff; /* linhas brancas */
  }

tr {
    height: 70px; /* define altura mínima da linha */
    font-size: 20px;
}

 th {
    background-color: #333; /* cabeçalho escuro */
    color: white;
  }